<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>회원정보 수정</title>
    <link rel="stylesheet" href="../resources/css/common.css">
    <link rel="stylesheet" href="../resources/css/join.css">
    <script src="../resources/js/jquery-3.6.0.min.js"></script>
    <script src="../resources/js/modal.js"></script>
       <script src="../resources/js/topBtn.js"></script>

</head>

<body>
    <button class="modal_button">회원정보 수정</button>
    <div class="modal">
        <p class="modal_content_close ">X</p>
        <div class="modal_login" title="회원정보 수정">
            <span class="modal_content_close">X</span>
            <div class="modal_content loginArea">
                <form action="" method="POST">
                    <h2>회원가입</h2>
                    <div id="join_container">

                        <table class="join_table">
                            <!-- ID -->
                            <tr>
                                <td class="join_title">
                                    <h4>아이디</h4>
                                </td>
                                <td>
                                    <input type="text" name="m_id" id="m_id" placeholder="영문, 숫자 허용">

                                </td>

                            </tr>
                            <!-- PASSWORD -->
                            <tr>
                                <td class="join_title">
                                    <h4>비밀번호</h4>
                                </td>
                                <td>
                                    <input type="password" id="m_pwd1" name="m_pwd" placeholder="6자리 이상, 영문 숫자 포함">
                                </td>
                            </tr>
                            <tr>
                                <td class="join_title">
                                    <h4>비밀번호 확인</h4>
                                </td>
                                <td>
                                    <input type="password" id="m_pwd2" name="m_pwd2">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" id="pwdValidate" class="red"></td>
                            </tr>
                            <!-- NAME -->
                            <tr>
                                <td class="join_title">
                                    <h4>이름</h4>
                                </td>
                                <td>
                                    <input type="text" name="m_name" id="m_name">
                                </td>
                            </tr>
                            <!-- GENDER -->
                            <tr>
                                <td class="join_title">
                                    <h4>성별</h4>
                                </td>
                                <td class="join_gender">
                                    <input type="radio" name="m_gender" id="gender_M" value="M" /> <label
                                        for="gender_M">남성</label>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input type="radio" name="m_gender" id="gender_F" value="F" /> <label
                                        for="gender_F">여성</label>
                                </td>
                            </tr>
                            <!-- BIRTH -->
                            <tr>
                                <td class="join_title">
                                    <h4>생년월일</h4>
                                </td>
                                <td class="join_birth">
                                    <input type="text" class="j_birth" name="m_birth" id="m_birth" maxlength="4"
                                        placeholder="2021">
                                    <input type="text" class="j_birth" name="m_birth" id="m_birth" maxlength="2"
                                        placeholder="월">
                                    <input type="text" class="j_birth" name="m_birth" id="m_birth" maxlength="2"
                                        placeholder="일">
                                </td>
                            </tr>
                            <!-- PHONE -->
                            <tr>
                                <td class="join_title">
                                    <h4>연락처</h4>
                                </td>
                                <td class="join_phone">
                                    <select name="m_phone" id="m_phone" style="height: 24px;">
                                        <option value="010">
                                            010
                                        </option>
                                        <option value="011">
                                            011
                                        </option>
                                        <option value="016">
                                            016
                                        </option>
                                        <option value="019">
                                            019
                                        </option>
                                        <option value="02">
                                            02
                                        </option>
                                        <option value="050">
                                            050
                                        </option>
                                    </select>
                                    <input type="number" name="m_phone" id="m_phone" maxlength="10"
                                        style="width: 250px;" placeholder="'-'를 제외하고 작성해 주세요">

                                </td>
                            </tr>
                            <!-- E-MAIL -->
                            <tr>
                                <td class="join_title">
                                    <h4>이메일</h4>
                                </td>
                                <td class="join_email">
                                    <input type="text" name="m_email" id="m_email" placeholder="example"> @
                                    <input type="text" name="m_email" id="m_email" placeholder="example.com">
                                </td>
                            </tr>
                            <!-- ADDRESS -->

                            <tr>
                                <td class="join_title">
                                    <h4>주소</h4>
                                </td>
                                <td>
                                    <input type="text" name="m_address" id="m_address1" size="40" maxlength="40">
                                </td>
                            </tr>
                            <tr>
                                <td class="join_title">
                                    <h4>상세주소</h4>
                                </td>
                                <td>
                                    <input type="text" name="m_address" id="m_address2" size="40" maxlength="40">
                                </td>
                            </tr>
                        </table>
                    </div>



                    <!-- 선호 장르 선택 -->
                    <h4 class="join_checkTitle">선호 장르</h4>
                    <hr>
                    <table class="check_table">
                        <tr>
                            <td class="join_checkArea"><input type="checkbox" class="check-box" id="check-box1"
                                    name="keyword_id" value="1"><label for="check-box1">연극</label></td>
                            <td class="join_checkArea"><input type="checkbox" class="check-box" id="check-box2"
                                    name="keyword_id" value="2"><label for="check-box2">뮤지컬</label></td>
                            <td class="join_checkArea"><input type="checkbox" class="check-box" id="check-box4"
                                    name="keyword_id" value="4"><label for="check-box4">무용</label></td>
                            <td class="join_checkArea"><input type="checkbox" class="check-box" id="check-box3"
                                    name="keyword_id" value="3"><label for="check-box3">클래식/오페라</label></td>

                        </tr>
                        <tr>
                            <td class="join_checkArea"><input type="checkbox" class="check-box" id="check-box5"
                                    name="keyword_id" value="5"><label for="check-box5">국악</label></td>
                            <td class="join_checkArea"><input type="checkbox" class="check-box" id="check-box6"
                                    name="keyword_id" value="6"><label for="check-box6">아동</label></td>
                            <td class="join_checkArea"><input type="checkbox" class="check-box" id="check-box7"
                                    name="keyword_id" value="7"><label for="check-box7">오픈런</label></td>
                            <td class="join_checkArea"></td>
                        </tr>

                    </table>
            </div>

            <button class="join_submitBtn" type="submit">회원가입</button>
            </form>

        </div>
    </div>
    </div>
</body>

</html>