@charset "UTF-8";

    body{
        overflow: scroll;
    background-color: white;  
    }
    div, td, hr, a{
    color: var(--black-color)}
    


    /* 제목 */
    .buylist_title{
        text-align: center;
        font-size: 27px;
        font-weight: 700;
        margin-top: 150px;
        margin-bottom: 100px;
        color : var(--black-color);
    }

    /* 리스트 목록 */
   .S_list {
        display: inline-block;
        margin-bottom: 10px;
        margin-top:10px;
        vertical-align: middle;
        position: relative;

    }

    .Sale_list{

        margin-top: 50px ;


    }
    .Sale_list2{
    margin-top: 10px;}

    .Sale_baskimg{
      margin-left: 30px;

    }

    #Sale_title{
      margin-left: 30px;
      padding-top: 10px;
    }

    .Sale_title_th1{
        padding-bottom: 30px;
        padding-top: 10px;
        font-size: 20px;
        font-weight: 700;
    }

    .Sale_title_td1{
        font-size: 17px;
        font-weight: 700;
        text-align: left;

    }

    .Sale_title_td2{
        font-size: 17px;
        font-weight: 300;
        padding: 0px 50px 20px 100px;
        text-align: right;
            
    }
    .Sale_price_td1{
        text-decoration: line-through;
        color: #ff6801;
        font-size: 27px;
        font-weight: 700;
        text-align: right;  
        float: right;
       
    }

    .Sale_price_td2{
        color: var(--main-color);
        font-size:27px;
        font-weight: 700;
        text-align: right;
        padding-bottom: 10px;
    }

    .Sale_price_td3{

        color: var(--main-color);
        font-size: 27px;
        font-weight: 700;
        padding-left: 90px;
        text-align: right;
    }


        #Sale_price{
            position:absolute;
            padding-top: 40px;
			float:right;
            color: #ff6801;
			 font-size: 27px;
            font-weight: 700;
            text-align: right;
            display:inline-block;
            right:0;
        }

       .Sale_price_tr1{
    
            color: #ff6801;
            font-size: 27px;
            font-weight: 700;
            text-align: right;
			
        }

 		.Sale_price_tr2{
        	padding-right:20px;
            padding-top: 100px;
             font-size: 27px;
            font-weight: 700;
            color: #ff6801;
        }
          .Sale_price_tr3{
          	width: 150px;
            padding-top: 100px;
             font-size: 27px;
            font-weight: 700;
            color: #ff6801;
            text-align: right;
        }

        /* 전체가격 */
        #Sale_AllPrice{
            background-color: #ff6801;
            color: white;
            font-size: 27px;
            font-weight: 700;
            margin-top: 80px;
            text-align: center;
            padding-top: 32px;
            width: 670px;
            height: 80px;
            border-radius: 50px;
        }
    
        /* 배송지 입력 */
        .Sale_deliver{
            margin-top: 60px;
        }

        .Sale_deliver_td1{
            font-size: 17px;
            font-weight: 700;
            padding-right:40px ;
            
        }

        .Sale_deliver_text{
            border: 1px solid silver;
            width: 480px;
            height: 28px;
            margin: 5px;
            text-align: left;
            padding-left: 10px;
            
        }

        .Sale_deliver_text1{
            border: 1px solid silver;
            width: 200px;
            height: 28px;
            margin: 5px;
        }

        .Sale_addres{
            background-color: grey;
            color: white;
            padding: 5px 7px 5px 7px ;
        }
        
        .Sale_addres:hover{
            cursor: pointer;

        }

        /* 구매하기 버튼  */
        .Sale_buybox{
            margin-left: 250px;
            margin-top: 50px;
           
        }

        .Sale_buybtn{
           
            width: 540px;
            height: 65px;
            background-color: #ff6801;
            border-radius: 10px;
            text-align: center;
            color:white;
             font-size: 25px;
            font-weight: 700;
        }

        .Sale_buytext{
        
			color:black;
            margin-top: -8px;
            text-align: center
        }

        .Sale_buyimg{
            position:absolute;
            margin-left: -70px;
            margin-top: -15px;

        }

        button :hover{
            cursor: pointer;
        }
        
                #Sale_check{
            position:absolute;
            margin-top:90px;
        }
        
.Sale_returnBtn, .Sale_canclenBtn {
	width: 72px;
	height: 28px;
	font-size: 14px;
	font-weight: 300;
	text-align: center;
	background: grey;
	border-radius: 5px;
	font-family: 'NanumBarunGothic';
	cursor: pointer;
	float: left;
	margin-top: 20px;
	margin-right:10px;
}

#info_load{
	color: var(--black-color)
}

.loadArea{
	padding-bottom: 20px;
	text-align: center
}

#num {
	width : 50px;
}

/* 전체 합계  */
.MD_order_text{
	margin-top :100px;
	padding-top : 40px;
	width: 800px;
    height: 350px;
    background-color: #e9ecef;
    border-radius: 10px;
    text-align: center;
   	font-size: 14px;
	font-weight: 300;
}

#table3_td1{
	 color: black;
      font-size: 30px;
      font-weight: 700;
      padding-right:100px;
}

#reward{
	width:70px;
	height: 30px;
}

.table3_td2{
	border-bottom : 1px solid gray;
	font-size: 20px;
	font-weigth:500;
	padding: 20px;
	padding-right:100px;
}

.table3_td3{
	border-bottom : 1px solid gray;
	font-size: 20px;
	font-weigth:500;
	padding: 20px;
	padding-left:100px;
	 text-align:right;
}

#rewardbtn{
	    background-color: #ff6801;
	    padding: 6px;
	    border-radius: 5px;
		font-size: 14px;
		margin-left:10px;
}

.sale_trackingArea{
	float: right;
}

.trackingBtn{
	background-color: gray;
	width: 30px;
	color: white;
	font-size: 14px;
}

.del{
	width: 28px;
	height: 20px;
	position:absolute;
	left:-5px;
	top:30px;
}

.buy_total{
	float: right;
}

.buy1_total{
	width: 450px;
}