<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="curation-mapper">

	<insert id="insertCuration" parameterType="curation">
		insert into curation values(seq_c_no.nextval, #{ m_no }, #{ c_title }, #{ c_content }, sysdate, #{ c_pic }, #{ c_picrenamed })
	</insert>
<select id="selectCurationList" resultType="curation">
SELECT * FROM CURATION
</select>
<select id="selectTotalCuration" resultType="_int">
SELECT COUNT(*) FROM CURATION ORDER BY C_NO
</select>
	<select id="selectCurationList1" resultType="curation">
SELECT * FROM CURATION
ORDER BY C_TITLE DESC
</select>
<select id="selectCurationList2" resultType="curation">
SELECT * FROM CURATION
ORDER BY C_DATE DESC
</select>

<select id="selectBookList" resultType="bookmark" parameterType="bookmark">
SELECT * FROM BOOKMARK
WHERE M_NO = #{m_no}
</select>


</mapper>