<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="review-mapper">

	<insert id="insertReview" parameterType="map">
		insert into review values(seq_r_no.nextval, 'PF175502', 1, #{r_content}, default, default, #{r_status})
	</insert>

	<insert id="insertReview2" parameterType="map">
		insert into playdetail values(seq_pd_no.nextval, 'PF175502', #{pd_theater}, #{pd_story}, #{pd_producing}, #{pd_casting})
	</insert>
	
	<select id="selectCount" resultType="_int" parameterType="Member">
		SELECT COUNT(R_NO)
		FROM REVIEW
		WHERE M_NO = #{ m_no }
	</select>
	
	<select id="selectGood" resultType="review" parameterType="review">
	SELECT * FROM REVIEW
WHERE P_NO = #{p_no} AND R_STATUS = '1'
	</select>
	
	<select id="selectBad" resultType="review" parameterType="review">
	SELECT * FROM REVIEW
WHERE P_NO = #{p_no} AND R_STATUS = '2'
	</select>
	
	<delete id="deleteReview">
  		delete from review where r_no = #{r_no}
 	</delete>
	<select id="myReview" resultType="Review" parameterType="_int">
		SELECT P_NO
		FROM REVIEW
		WHERE M_NO = #{ m_no }
	</select>
	
</mapper>